<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFVHHySuYJJCeAQcJp-WTmQeZwy12Z_2E&libraries=visualization&callback=initMap">
</script>
<%= javascript_include_tag "show.js" %>

<div class="container-fluid" id="beershow">
  <div class="row">
    <h1><%= @beer.name %></h1>
  </div>
  <div class="row">
    <h2><%= @beer.style %></h2>
  </div>
  <div class="row">
    <p>I AM THE BEER BLURB</p>
  </div>
  <div class="row">
    <div class="col-md-6" id="chart_div">
    </div>
    <div class="col-md-5">
      <div class="row">
          <p>Average Review Rating</p>
          <p><%= @avg_reviews_rating %></p>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>30 Day Average Price</p>
          <p><%= @last_30_days_reviews_avg %></p>
        </div>
        <div class="col-md-6">
          <p>30 Day Percent Change</p>
          <p><%= @last_30_days_reviews_percent_change %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Latest Transaction Price</p>
          <p><%= @last_transaction_price %></p>
        </div>
        <div class="col-md-6">
          <p>Total Transactions</p>
          <p><%= @total_transactions %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Last Transaction Date</p>
          <p><%= @last_transaction_date %></p>
        </div>
        <div class="col-md-6">
          <p>90 Day Average Price</p>
          <p><%= @last_90_days_reviews_avg %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10" id="map">
    </div>
    <div class="col-md-2" id="floating-panel">
      <button class="mapbuttons" onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button class="mapbuttons" onclick="changeGradient()">Change gradient</button>
      <button class="mapbuttons" onclick="changeRadius()">Change radius</button>
      <button class="mapbuttons" onclick="changeOpacity()">Change opacity</button>
    </div>
  </div>
  <h2>Reviews</h2>
  <% @reviews.limit(10).each do |r| %>
  <div class="review">
    <div class="row heading">
      <div>
        <div class="col-md-6">Name: <%= r.name %></div>
        <div class="col-md-6">Review: <%= r.rating %></div>
      </div>
    </div>
    <p class="row"><%= r.body %></p>
  </div>
  <% end %>

  <h2>Would you like to add your own review for <%= @beer.name %>?</h2>
  <%= render 'reviews/review' %>

<div id="map"></div>


<script type="text/javascript"
        src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawAxisTickColors);
</script>


