<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFVHHySuYJJCeAQcJp-WTmQeZwy12Z_2E&libraries=visualization&callback=initMap">
</script>
<%= javascript_include_tag "show.js" %>

<h1><%= @beer.name %></h1>
<br>
<h3>Style: <% @beer.style %></h3>

<div id="map"></div>
<div id="floating-panel">
  <button onclick="toggleHeatmap()">Toggle Heatmap</button>
  <button onclick="changeGradient()">Change gradient</button>
  <button onclick="changeRadius()">Change radius</button>
  <button onclick="changeOpacity()">Change opacity</button>
</div>

<script type="text/javascript"
        src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawAxisTickColors);
</script>
<div id="chart_div"></div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h2>Reviews</h2>

<% @reviews.each do |r| %>
	| Manufacturer: <%= r.manufacturer %>
| Beer Name: <%= r.name %>
	| Review: <%= r.rating %>
<br>
| Body: <%= r.body %>
<br>
<br>
<% end %>

<h2>Would you like to add your own review for <%= @beer.name %></h2>
<%= render 'reviews/review' %>

<%= link_to 'Edit', edit_beer_path(@beer) %>
<%= link_to 'Back', beers_path %>


