<%= javascript_include_tag params[:controller] %>
<h1>This is the BEERS:: SHOW  view</h1>


Name: <%= @beer.name %>
<br>
Style: <% @beer.style %>


<h2>Reviews</h2>

<% @beer.reviews.each do |r| %>
  | Manufacturer: <%= r.manufacturer %>
  | Beer Name: <%= r.name %>
  | Review: <%= r.rating %>
<br>
  | Body: <%= r.body %>
<br>
<br>
<% end %>

<h2>Would you like to add your own review?</h2>
<%= render 'reviews/review' %>

<%= link_to 'Edit', edit_beer_path(@beer) %>
<%= link_to 'Back', beers_path %>


