
<% @beer.reviews.each do |r| %>
  <p>
  <strong>Manufacturer:</strong>
    <%= r.manufacturer %>
  </p>
  <p>
  <strong>Beer Name:</strong>
    <%= r.name %>
  </p>
  <p>
  <strong>Price:</strong>
    <%= r.price %>
  </p>
  <p>
  <strong>Zip Code:</strong>
    <%= r.location %>
  </p>
  <p>
  <strong>Rating:</strong>
    <%= r.rating %>
  </p>
  <p>
  <strong>Review Text:</strong>
    <%= r.body %>
  </p>
<% end %>

<p>
  <%= link_to "Delete my review, I'm drunk.", [review.beer, review],
              method: :delete,
              data: {confirm: 'Are you sure?'} %>
            </p>

