<!DOCTYPE html>
<html>
  <head>
    <%= include_gon(:init => true) %>
    <title>Beertropolis</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= render 'favicon' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <ul>
      <li>
        <% if logged_in? %>
          <%= link_to "Log Out", logout_path %>
        <% else %>
          <%= link_to "Log In", login_path %>
        <% end %>
      </li>
      <li><a href="/">Home</a></li>
      <li style="align:center"><a href="logo"></a></li>
      <li style="float:right"><a href="/beers">Beers</a></li>
      <li style="float:right"><a href="/about">About Us</a></li>
    </ul>

    <%= yield %>
    <footer>
      <p style="float:right">Copyright: Beertropolis 2016</p>
      <p style="float:right">Contact Us! <a href="mailto:someone@example.com">JMMS@beertropolis.com</a></p>
      <p style="float:right">Created by: Javi, Matthew, Megan and Sean   </p>
    </footer>
  </body>
</html>
